# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
