# =====================
# Flutter
# =====================
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# =====================
# Logs & Temp files
# =====================
*.log
*.tmp

# =====================
# Android
# =====================
android/.gradle/
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java
android/**/gradle-wrapper.jar
android/captures/
android/.cxx/

# =====================
# Gradle
# =====================
.gradle/
gradlew
gradlew.bat

# =====================
# Keystore (NEVER COMMIT)
# =====================
**/*.keystore
**/*.jks

# =====================
# IDE
# =====================
.idea/
.vscode/
*.iml
